fastapi==0.101.1
flask-sqlalchemy==3.0.5
prometheus_client==0.17.1
confluent-kafka==2.2.0
ujson==5.8.0
APScheduler==3.10.3
jira==3.5.2
skpy==0.10.6
requests-cache==1.1.0
retry_decorator==1.1.1
python-logging-loki==0.3.1
opentelemetry-instrumentation-logging==0.40b0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-instrumentation-confluent-kafka==0.40b0
opentelemetry-instrumentation-sqlalchemy==0.40b0
prometheus_fastapi_instrumentator==6.1.0
pytz==2023.3
uvicorn==0.23.2
gunicorn==21.2.0
SQLAlchemy==2.0.20
mariadb==1.1.7